<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Link Guardian</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% include 'sidebar.html' %}

    <main class="main-content">
        <div class="card form-card">
            <h2>Link Guardian to Student</h2>

            {% if message %}
            <p>{{ message }}</p>
            {% endif %}
            
            <div>
                {% if students %}
                <h3>Student List</h3>

                <table>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Action</th>
                    </tr>

                    {% for s in students %}
                    <tr>
                        <td>{{ s.Stud_ID }}</td>
                        <td>{{ s.Stud_FName }}</td>
                        <td>{{ s.Stud_LName }}</td>
                        <td><button>Select Student</button></td>
                    </tr>
                    {% endfor %}

                </table>
                {% endif%}
            </div>

            <div>
                {% if guardians %}
                <h3>Guardian List</h3>

                <table>
                    <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Action</th>
                    </tr>

                    {% for g in guardians %}
                    <tr>
                        <td>{{ g.Guardian_ID }}</td>
                        <td>{{ g.Guardian_FName }}</td>
                        <td>{{ g.Guardian_LName }}</td>
                        <td><button>Select Guardian</button></td>
                    </tr>
                    {% endfor %}

                </table>
                {% endif%}
            </div>

            <form method="post" action="/link-guardian">
                <input type="text" name="stud_id" placeholder="Student ID" required>
                <input type="text" name="guard_id" placeholder="Guardian ID" required>
                <button type="submit">Link Guardian</button>
            </form>
        </div>
    </main>
</body>
</html>
