<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Students</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    {% include 'sidebar.html' %}

    <main class="main-content">

        <div class="card form-card">
            <h2>Students</hd>

            <form method="post" action="/search-student">
                <input type="text" name="stud_fname" placeholder="Enter First Name">
                <button type="submit">Search</button>
            </form>
        </div>
    
        {% if students %}
        <div class="card">
            <h3>Student List</h3>
            <button type="submit"><a href="/add-student">Add Student</a></button>
            <table>
                <tr>
                    <th>Student ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Phone Number</th>
                    <th>Year</th>
                    <th>Gender</th>
                    <th>Email</th>
                    <th>Actions</th>
                </tr>

                {% for s in students %}
                <tr>
                    <td>{{ s.Stud_ID }}</td>
                    <td>{{ s.Stud_FName }}</td>
                    <td>{{ s.Stud_LName }}</td>
                    <td>{{ s.Stud_Phone }}</td>
                    <td>{{ s.Year_ID }}</td>
                    <td>{{ s.Stud_Gender }}</td>
                    <td>{{ s.Stud_Email }}</td>
                    <td>
                        <table>
                            <td><a href="/edit-student/{{ s.Stud_ID }}">Edit</a></td>
                            <td><a href="/delete-student/{{ s.Stud_ID }}">Delete</a></td>
                        </table>
                    </td>
                </tr>
                {% endfor %}

            </table>
        </div>
        {% else %}
        <h1>Failed to fetch students</h1>
        {% endif %}

    </main>

</body>
</html>